<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<section>
			<h2>Get in touch</h2>
			<ul class="icons">
				<li><a target="_blank" href="https://www.linkedin.com/in/miqueltolosa/" class="icon brands style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
				<li><a target="_blank" href="https://twitter.com/miquel_tolosa" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a target="_blank" href="mailto:miqueltolosamas@gmail.com" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
			</ul>
		</section>
		<ul class="copyright">
			<li>&copy; Miquel Tolosa</li>
		</ul>
	</div>
</footer>