---
layout: default
title: Miquel Tolosa's Website
---
<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="{{ page.description }}">
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="{{ site.url }}{{ page.url }}">
		<meta property="og:title" content="{{ page.title }}">
		<meta property="og:description" content="{{ page.description }}">
		<meta property="og:image" content="{{ site.url }}{{ page.image }}">

		<!-- Twitter -->
		<meta property="twitter:card" content="{{ page.twitter.card }}">
		<meta property="twitter:url" content="{{ site.url }}{{ page.url }}">
		<meta property="twitter:title" content="{{ page.title }}">
		<meta property="twitter:description" content="{{ page.description }}">
		<meta property="twitter:image" content="{{ site.url }}{{ page.image }}">
		<meta property="twitter:site" content="{{ page.twitter.site }}">
		<meta property="twitter:creator" content="{{ page.twitter.creator }}">

		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon_io/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon_io/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon_io/favicon-16x16.png">
		<link rel="manifest" href="/images/favicon_io/site.webmanifest">

		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">
                            {% if page.type != "home" %}
                                {% include back_arrow.html %}
                            {% endif %}
							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>
						</div>
					</header>
				
				{% include menu.html %}

				<!-- Main -->
					<div id="main">
						<div class="inner">
							{{ content }}
						</div>
					</div>

				{% include footer.html %}

			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>
